<div class="frame">
  <h1 mat-dialog-title class="hd">แก้ไขข้อมูลพนักงาน</h1>
  <nb-card>
    <!-- <nb-card-header>
    แก้ไขข้อมูลพนักงาน
  </nb-card-header> -->
    <div class="row"></div>
    <div class="col-sm-6">
      <nb-card-body>

        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">


          <div>
            <label for="title">
              คำนำหน้าชื่อ: &nbsp;
            </label>
            <input id="title" type="text" formControlName="title">
          </div>

          <div>
            <label for="name">
              ชื่อ: &nbsp;
            </label>
            <input id="name" type="text" formControlName="name">
          </div>

          <div>
            <label for="surname">
              นามสกุล: &nbsp;
            </label>
            <input id="surname" type="text" formControlName="surname">
          </div>

          <div>
            <label for="position">
              ตำแหน่ง: &nbsp;
            </label>
            <input id="position" type="text" formControlName="position">
          </div>

          <div>
            <label for="email">
              อีเมล: &nbsp;
            </label>
            <input id="email" type="text" formControlName="email">
          </div>



          <button class="button" type="submit">แก้ไขข้อมูล</button>

        </form>

      </nb-card-body>
    </div>
    <div class="col-sm-6">
      <!-- <form [formGroup]="changepic" (ngSubmit)="(changepic.value)"> -->
        
        <div>
          <label for="image">
            รูปภาพ: &nbsp;
          </label>
          <input nbButton type="file" (change)="onFileChanged($event)">
        </div>


        <button nbButton status="primary" type="submit"  (click)="onSubmitPic()">แก้ไขรูปภาพ</button>
        <!-- <button nbButton >เพิ่มข้อมูล</button> -->

      <!-- </form> -->
    </div>

  </nb-card>
</div>