<!-- <script src="http://code.highcharts.com/modules/exporting.js"></script><nb-card> -->
<nb-card>



  <nb-card-header>
    <div style="color: #ff7701;">&#9125; HISTORICAL DASHBOARD </div>
  </nb-card-header>

  <nb-card-body>
    <!-- <button (click)="exportAsXLSX()"></button> -->
    <div style="position: absolute;top: 0px;right: 16px; top: 2px;">
      <button nbButton status="primary" type="submit" (click)="exportAsXLSX()">Export</button>
    </div>
    <table mdbTable style="  width: 100%; margin-top: 30px;">
      <thead>
        <tr>
          <th style="font-size: 20px; height: 40px; background-color: #FFA500; color: white;  text-align: center;"
            *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let el of dataSource | paginate: { itemsPerPage: 15, currentPage: p }"
          [ngStyle]="{'width':column === 'รหัสพนักงาน' ? '100px' : '' }">
          <td style="text-align: center;" scope="row">{{el.id}}</td>
          <td>{{el.title}} {{el.name}} {{el.surname}}</td>
          <td>{{el.checkinEmotion.gender}}</td>
          <td>{{el.checkinEmotion.age}}</td>
          <td>{{el.checkin}}</td>
          <td>{{el.checkinEmo}}</td>
          <td>{{el.checkout}}</td>
          <td>{{el.checkoutEmo}}</td>

        </tr>
      </tbody>

    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </nb-card-body>


</nb-card>